@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800;900&display=swap");

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(142, 177, 241);
  color: #404756;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

input,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding: 2%;
  border-radius: 5px;
  border: none;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
}

button{
  cursor: pointer;
}
